Pandas 함수 학습

In [2]:
#pd.Series(): pandas의 1차원 데이터 구조인 Series 객체를 생성하는 함수

import pandas as pd

#리스트로 Series 생성
data=[1,2,3,4,5];
s=pd.Series(data);
print(s);

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#pd.DataFrame(): pandas의 2차원 데이터 구조인 DataFrame 객체를 생성하는 함수

#딕셔너리로 DataFrame 생성
data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[24,27,22],
    "Salary":[50000,60000,45000]
};
df=pd.DataFrame(data);
print(data);
print(df);

{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [24, 27, 22], 'Salary': [50000, 60000, 45000]}
      Name  Age  Salary
0    Alice   24   50000
1      Bob   27   60000
2  Charlie   22   45000

In [5]:
#df.head(): DataFrame의 처음 5개(default) 행을 반환하는 함수

#DataFrame 생성
data={
    "Name":["Alice","Bob","Charlie","David","Eve"],
    "Age":[24,27,22,32,25],
    "Salary":[50000,60000,45000,70000,55000]
}
df=pd.DataFrame(data);

#처음 3개 행만 보기
print(df.head(3));

      Name  Age  Salary
0    Alice   24   50000
1      Bob   27   60000
2  Charlie   22   45000

In [6]:
#df.tail(): DataFrame의 마지막 5개 행을 반환하는 함수

#DataFrame 생성
data={
    "Name":["Alice","Bob","Charlie","David","Eve"],
    "Age":[24,27,22,32,25],
    "Salary":[50000,60000,45000,70000,55000]
}

df=pd.DataFrame(data);

#마지막 3개 행만 보기
print(df.tail(3));

      Name  Age  Salary
2  Charlie   22   45000
3    David   32   70000
4      Eve   25   55000

In [7]:
#df.info(): DataFrame의 요약정보를 출력하는 함수

#DataFrame 생성
data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[24,227,22],
    "Salary":[50000,60000,45000]
}
df=pd.DataFrame(data);

#DataFrame 정보 출력
print(df.info());

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
None

In [9]:
#df.describe(): DataFrame의 수치형 데이터에 대한 기본적인 통계 정보를 출력하는 함수

#DataFrame 생성
data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[24,27,22],
    "Salary":[50000,60000,45000]
}
df=pd.DataFrame(data);
print(df.describe());

             Age        Salary
count   3.000000      3.000000
mean   24.333333  51666.666667
std     2.516611   7637.626158
min    22.000000  45000.000000
25%    23.000000  47500.000000
50%    24.000000  50000.000000
75%    25.500000  55000.000000
max    27.000000  60000.000000

In [11]:
#df.groupby(): DataFrame의 데이터를 특정 열을 기준으로 그룹화하는 함수

#DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'Age': [24, 27, 22, 23, 28],
    'Salary': [50000, 60000, 45000, 55000, 65000]
}
df=pd.DataFrame(data);

#Name을 기준으로 그룹화 후 Salary 평균 게산
grouped=df.groupby("Name")["Salary"].mean();
print(grouped);

Name
Alice      52500.0
Bob        62500.0
Charlie    45000.0
Name: Salary, dtype: float64

In [13]:
#df.loc[]: DataFrame에서 레이블을 기준으로 데이터를 선택하는 함수

#DataFrame 생성
data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[24,27,22],
    "Salary":[50000,60000,45000]
}
df=pd.DataFrame(data);

#Name이 "Alice"인 행 선택
alice_row=df.loc[df["Name"]=="Alice"];
print(alice_row);

    Name  Age  Salary
0  Alice   24   50000

In [14]:
#df.drop(): DataFrame에서 특정 행이나 열을 삭제하는 함수

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'Salary': [50000, 60000, 45000]
}
df=pd.DataFrame(data);

#"Salary" 열 삭제
df_dropped=df.drop(columns=["Salary"]);
print(df_dropped);

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

In [16]:
#df.isnull(): DataFrame에서 결측값(Null,Nan)을 확인하는 함수
import numpy as np

# DataFrame 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, np.nan, 22],
    'Salary': [50000, 60000, np.nan]
}
df = pd.DataFrame(data)

#결측값 여부 확인
print(df.isnull());

    Name    Age  Salary
0  False  False   False
1  False   True   False
2  False  False    True